<%- include ("partials/header") %>

<!-- JUMBOTRON -->
<div id="header" class="container">
    <div class="jumbotron">
      <div class="text-center text-white" id="jumboContent">
        <h1 class="display-4" id="jumboHeading">COVID19-<span class="name">Worldwide</span></h1>
        <p class="lead" id="jumboLead">We keep you updated!!</p>
      </div>
    </div>
  </div>

<!-- Table -->
<div class="container" >
    <div class="row mx-md-1">
        <div class="col-12">
            <table class="mb-5 start" id="myTable">
                <thead>
                    <td class="pl-md-3 pl-1 heading text-white-50">Country</td>
                    <td> </td>
                    <td class="pl-md-3 pl-1 heading text-white-50">Total</td>
                    <td> </td>
                    <td class="pl-md-3 pl-1 heading text-white-50">Active</td>
                    <td> </td>
                    <td class="pl-md-3 pl-1 heading text-white-50">Recovered</td>
                    <td> </td>
                    <td class="pl-md-3 pl-1 heading text-white-50">Deceased</td>
                </thead>
                <tbody>
                    <% data["response"].forEach(function(con){ %>
                        <% if(con.country === "Italy" || con.country=== "India" ||  con.country=== "Brazil" ||
                        con.country=== "Germany" || con.country=== "Russia" || con.country=== "USA" || con.country=== "France" || con.country=== "Iran" || con.country=== "Peru" || con.country=== "Turkey" || con.country=== "Chile" || con.country=== "Mexico" || con.country=== "Pakistan" || con.country=== "Canada"){ %>
                        <tr>
                            <td class="pl-md-3 pl-1"><%= con.country %></td>
                            <td> </td>
                            <td class="pl-md-3 pl-2 countryData text-danger"><%= con.cases.total %></td>
                            <td> </td>
                            <td class="pl-md-3 pl-2 countryData text-info"><%= con.cases.active %></td>
                            <td> </td>
                            <td class="pl-md-3 pl-2 countryData text-success"><%= con.cases.recovered%></td>
                            <td> </td>
                            <td class="pl-md-3 pl-2 countryData text-muted"><%= con.deaths.total%></td>
                        </tr>
                    <% } %>
                    <% }) %>     
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include ("partials/footer") %>

